form{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap:wrap;
}
form label{
    width:100%;
}
form input,form select{
    width:50%;
    padding:5px;
    border-radius:5px;
}
.acciones-modal{
    margin-top:10px;
    width:100%;
    display:flex;
    justify-content: center;
    gap:10px;
}
.acciones-modal button{
    cursor:pointer;
}